h1{
    text-align: center;
    background-color: pink;
    color: rgb(5, 79, 236);
}
body{
    background-color: lavender;
}
#para1{
    float: left;
    margin: 200;
}
#para2{
    float: right;
    margin: 200;
}
input{
 background-color: coral;
 color: palegoldenrod;
}
#showParagraph1{
  margin: 328;  
}
#showParagraph2{ 
    margin: 232;
}