body {
    text-align: center;
    background-color: #17c9e9;
}

#firstp {
    word-spacing: 10px;
    font-variant: small-caps;
    text-align: center;
    font-size: 80px;
}

#names {
    font-size: 50px;
    text-align: center;
}

#album {
    text-align: center;
    border-style: solid;
    border-color: #17c9e9 border: 1px
    border-radius: 80px;
    padding : 5px;
    width : 240px;