body {
    text-align: center;
    background-color: paleturquoise;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: brown;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightcoral;
}
